.comment-input {
    width: 75%;
    max-width: 30rem;
    padding: 0.5rem;
    border: 2px solid $color-white;
    border-radius: 0.5rem;
    outline: none;
    margin: 1rem;
    background-color: transparent;
    color: $color-white;
}