.product-view {
    width: 100%;
    padding: 1rem;
    margin-right: -3rem;
    margin-bottom: 3rem;
    @include glass-effect-background;
    border-radius: 3rem;

    .product-view-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
                flex-direction: column;
        width: 90%;
        max-width: 30rem;

        .product-view__btns {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
                    justify-content: end;
    
            button {
                border: none;
                margin-right: 0.5rem;
                margin-bottom: 0.5rem;
                background-color: transparent;
                color: $color-light-gray;
                cursor: pointer;
                -webkit-transition: 0.2s;
                -o-transition: 0.2s;
                transition: 0.2s;
    
                &:hover {
                    color: $color-dark-gray;
                }
            }
        }
    
        img {
            border-radius: 0.5rem;
            margin-bottom: 1rem;
        }
    
        .product-view__info {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
                    justify-content: center;
            gap: 0.5rem;
            margin-bottom: 1rem;
    
            span {
                display: block;
                padding: 0.5rem;
                border-radius: 10rem;
                background-image: $violet-gradient;
                color: $color-white;
                text-align: center;
            }
        }
    
        .product-view__comments {

            span {
                font-weight: 500;
            }
    
            li {
                padding-left: 1rem;
                border-left: 2px solid $color-light-gray;
                margin-bottom: 2rem;
                font-weight: 300;
                list-style: none;

                &:nth-of-type(1) {
                    margin-top: 1rem;
                }
            }
        }
    }    
}